<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Wix walkthrough Portfolio Task 1" Language="1033" Version="1.0.0.0" Manufacturer="Hai Long Nguyen" UpgradeCode="931f484f-194d-4cc6-ac2c-5caf9f8eed8e">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="WixPortfolioTask1" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="WixWalkthroughPortfolioTask1" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
      <Component Id="PortfolioTask1.exe" Guid="B6A176CC-38C3-4CCE-B095-B779D3B53539">
        <File Id="PortfolioTask1.exe" Name="PortfolioTask1.exe" Source="$(var.PortfolioTask1.TargetDir)PortfolioTask1.exe"></File>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
